<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= page.title %></title>
    <link rel="stylesheet" href="legacy.css"/>
</head>
<body>
    <div class="page-wrapper">
        <%- page.content %>
    </div>
</body>
</html>